ejbModule/jcs/sysConfig/SysConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.JCS.org/SysConfig" xmlns:tns="http://www.JCS.org/SysConfig" elementFormDefault="qualified">

    


    


    
	<element name="Root" type="tns:SysConfigContent">
	</element>
	<complexType name="SysConfigContent">
		<sequence>
			<element minOccurs="0" maxOccurs="unbounded" name="Node" type="tns:NodeContent">
			</element>
		</sequence>
	</complexType>
	<complexType name="NodeContent">
		<simpleContent>
			<extension base="string">
				<attribute name="Name" type="string"></attribute>
			</extension>
		</simpleContent>
	</complexType>
</schema>